@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

@* most basic home page ever  *@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/img/JoelHiltonHeadshot.jpg" alt="Joel Hilton Headshot" class="img-fluid mt-3" />
    <div class="mt-3">
        <a asp-controller="Home" class="btn btn-primary" asp-action="MovieList">Movie List</a>
    </div>
</div>